$font-sizes:(
    100,
    200,
    300,
    400,
    medium:(
        100,
        200,
        300,
        400
    )
);

$font-weights:(
    100,
    200,
    300,
    400,
    medium:(
        100,
        200,
        300,
        400
    )
);

$line-heights:(
    100,
    200,
    300,
    400,
    medium:(
        100,
        200,
        300,
        400
    )
)